.u-section-1 .u-sheet-1 {
  min-height: 970px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 21px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 28px 692px 0 255px;
}

.u-section-1 .u-text-4 {
  margin: -21px 377px 0 570px;
}

.u-section-1 .u-text-5 {
  margin: -21px 946px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.75rem;
  margin: 1px 273px 0 654px;
}

.u-section-1 .u-text-7 {
  font-size: 0.75rem;
  margin: -87px 893px 0 84px;
}

.u-section-1 .u-text-8 {
  font-size: 0.75rem;
  margin: -74px 588px 0 339px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -46px 263px 0 auto;
  padding: 9px 137px 11px 136px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px auto 0 415px;
  padding: 9px 52px 11px 51px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -46px auto 0 0;
  padding: 9px 107px 11px 105px;
}

.u-section-1 .u-text-9 {
  margin: 77px 353px 0 570px;
}

.u-section-1 .u-text-10 {
  margin: -21px 669px 0 255px;
}

.u-section-1 .u-text-11 {
  margin: -17px 924px 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 0.75rem;
  margin: -65px 894px 0 84px;
}

.u-section-1 .u-text-13 {
  font-size: 0.75rem;
  margin: -57px 632px 0 346px;
}

.u-section-1 .u-text-14 {
  font-size: 0.75rem;
  margin: -49px 251px 0 653px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 8px auto 0 0;
  padding: 9px 106px 11px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px auto 0 388px;
  padding: 9px 30px 11px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px auto 0 258px;
  padding: 9px 23px 11px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px 250px 0 auto;
  padding: 9px 144px 11px 142px;
}

.u-section-1 .u-text-15 {
  margin: 47px 924px 0 0;
}

.u-section-1 .u-text-16 {
  margin: -21px 658px 0 265px;
}

.u-section-1 .u-text-17 {
  margin: -21px 354px 0 570px;
}

.u-section-1 .u-text-18 {
  font-size: 0.75rem;
  margin: -62px 892px 0 84px;
}

.u-section-1 .u-text-19 {
  font-size: 0.75rem;
  margin: -50px 324px 0 658px;
}

.u-section-1 .u-text-20 {
  font-size: 0.75rem;
  margin: -26px 632px 0 350px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 4px auto 0 271px;
  padding: 9px 107px 11px 106px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -44px auto 0 0;
  padding: 9px 107px 11px 106px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px 323px 21px auto;
  padding: 9px 107px 11px 106px;
}

.u-section-1 .u-image-1 {
  width: 79px;
  height: 79px;
  background-image: url("/images/ap.png");
  background-position: 50% 50%;
  margin: -1950px auto 60px 0;
}

.u-section-1 .u-image-2 {
  width: 79px;
  height: 79px;
  background-image: url("/images/ens1o.png");
  background-position: 50% 50%;
  margin: -79px 391px 60px auto;
}

.u-section-1 .u-image-3 {
  width: 79px;
  height: 79px;
  background-image: url("/images/modoru.png");
  background-position: 50% 50%;
  margin: 53px auto 60px 0;
}

.u-section-1 .u-image-4 {
  width: 79px;
  height: 79px;
  background-image: url("/images/adrenaline.png");
  background-position: 50% 50%;
  margin: -79px 391px 60px auto;
}

.u-section-1 .u-image-5 {
  width: 75px;
  height: 75px;
  background-image: url("/images/icon0-7.png");
  background-position: 50% 50%;
  margin: 44px auto 60px 0;
}

.u-section-1 .u-image-6 {
  width: 75px;
  height: 75px;
  background-image: url("/images/p1kgj.png");
  background-position: 50% 50%;
  margin: -73px 395px 60px auto;
}

.u-section-1 .u-image-7 {
  width: 75px;
  height: 75px;
  background-image: url("/images/850.png");
  background-position: 50% 50%;
  margin: 56px auto 60px 0;
}

.u-section-1 .u-image-8 {
  width: 75px;
  height: 75px;
  background-image: url("/images/icon0-2-1.png");
  background-position: 50% 50%;
  margin: -74px 395px 60px auto;
}

.u-section-1 .u-image-9 {
  width: 76px;
  height: 76px;
  background-image: url("/images/12.png");
  background-position: 50% 50%;
  margin: 70px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 225px;
    margin-right: 747px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -246px;
    margin-right: 488px;
    margin-left: 313px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -20px;
    margin-right: 746px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 10px;
    margin-right: 300px;
    margin-left: 387px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -76px;
    margin-right: 692px;
    margin-left: 86px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 141px;
    margin-right: 645px;
    margin-left: 82px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -308px;
    margin-right: auto;
    margin-left: 316px;
    padding: 10px 105px 10px 104px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 403px;
    margin-left: 0;
    padding: 10px 106px 10px 105px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -493px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 66px;
    margin-right: 66px;
    margin-left: 657px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -246px;
    margin-right: 65px;
    margin-left: 660px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 204px;
    margin-right: 411px;
    margin-left: 313px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -69px;
    margin-right: 376px;
    margin-left: 401px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: -272px;
    margin-right: 40px;
    margin-left: 738px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 161px;
    margin-right: -34px;
    margin-left: 738px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 10px;
    margin-left: 313px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -259px;
    margin-right: 21px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 158px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 174px;
    margin-right: 22px;
    padding: 10px 112px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 72px;
    margin-right: 724px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -23px;
    margin-right: 410px;
    margin-left: 313px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: -19px;
    margin-right: 152px;
    margin-left: 657px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: -65px;
    margin-right: 694px;
    margin-left: 82px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: -48px;
    margin-right: 379px;
    margin-left: 404px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: -49px;
    margin-right: 31px;
    margin-left: 751px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -214px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 193px;
    margin-right: 29px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-10 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: -48px auto 48px 313px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 247px;
    margin-right: 527px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 260px;
    margin-right: 636px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -418px;
    margin-right: 56px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 379px;
    margin-right: 537px;
    margin-left: 113px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -441px;
    margin-right: 86px;
    margin-left: 558px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 64px;
    margin-right: 544px;
    margin-left: 113px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -123px;
    margin-left: 116px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 105px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 92px;
    margin-left: 113px;
    padding: 3px 107px 4px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -293px;
    margin-left: 116px;
    padding-top: 3px;
    padding-right: 106px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 165px;
    margin-right: 33px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -263px;
    margin-right: 34px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 354px;
    margin-right: 259px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 4px;
    margin-right: 71px;
    margin-left: 558px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -440px;
    margin-right: 0;
    margin-left: 558px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 208px;
    margin-right: 22px;
    margin-left: 558px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 18px;
    margin-right: 95px;
    margin-left: auto;
    padding: 3px 128px 4px 126px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -292px;
    margin-right: 247px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -46px;
    margin-right: 74px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 31px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 361px;
    margin-right: 94px;
    padding: 3px 127px 4px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -485px;
    margin-right: 504px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 107px;
    margin-right: 503px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-top: 229px;
    margin-right: 657px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-top: -397px;
    margin-right: 522px;
    margin-left: 116px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 107px;
    margin-right: 544px;
    margin-left: 117px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 241px;
    margin-right: 530px;
    margin-left: 113px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 151px;
    margin-left: 113px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -170px;
    margin-right: auto;
    margin-left: 113px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 107px;
  }

  .u-section-1 .u-btn-10 {
    margin: -296px 94px 0 auto;
    padding: 2px 128px 3px 126px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -194px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-4 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-5 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-6 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-7 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-8 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-9 {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-top: 227px;
    margin-right: 347px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -213px;
    margin-right: 456px;
    margin-left: 227px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -43px;
    margin-right: 42px;
    margin-left: 304px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 253px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -96px;
    margin-right: 0;
    margin-left: 378px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 119px;
    margin-right: 253px;
    margin-left: 74px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -174px;
    margin-left: 0;
    padding-right: 107px;
    padding-left: 106px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 129px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -220px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 240px;
    margin-right: 323px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: -233px;
    margin-right: 20px;
    margin-left: 304px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 195px;
    margin-right: 31px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 5px;
    margin-right: 0;
    margin-left: 377px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -269px;
    margin-left: 378px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 159px;
    margin-right: 293px;
    margin-left: 77px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -274px;
    margin-right: 74px;
    padding-right: 86px;
    padding-left: 86px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 5px;
    margin-right: 0;
    padding-right: 86px;
    padding-left: 86px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 134px;
    margin-right: 0;
    padding-right: 107px;
    padding-left: 106px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 16px;
    margin-right: 324px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -19px;
    margin-right: 24px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 153px;
    margin-right: 305px;
    margin-left: 571px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -161px;
    margin-right: 294px;
    margin-left: 82px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 382px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 134px;
    margin-right: 305px;
    margin-left: 77px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -92px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 54px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -216px;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: -74px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -75px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-right: 147px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -246px;
    margin-right: 189px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -21px;
    margin-right: 0;
    margin-left: 146px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 127px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -441px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -54px;
    margin-right: 127px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -46px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -263px;
    margin-right: 0;
    margin-left: 125px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -17px;
    margin-right: 129px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 4px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -272px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 208px;
    margin-right: 170px;
    margin-left: 29px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -45px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -45px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 124px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -21px;
    margin-right: 0;
    margin-left: 123px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -19px;
    margin-right: 57px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -106px;
    margin-right: 176px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 80px;
    margin-left: 182px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 241px;
    margin-right: 182px;
    margin-left: 182px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -1313px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 1275px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 261px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 261px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 265px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 265px;
  }
}